.box {
    background: var(--light-color);
    box-shadow: var(--shadow);
    border-radius: 6px;
    padding: 1rem;
    margin-bottom: 1.5rem;
    position: relative;
}

.box__title {
    font-size: 1.35rem;
    padding: 0;
    margin: 0 0 1rem 0;
    color: var(--font-color);
}
